@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{

    max-width: 600px;
    margin: 20px auto;
    margin-top: 50px;
    font-weight: 600;
    background-color: aliceblue;
   
}


fieldset{
    padding: 20px;
    border: 3px solid ;
    /* //create fie */
}

legend{
    border-bottom: 2px solid #D391B0;
    padding: 0 13px;
}

form{
    background-color: #D391B0;
    padding: 20px;
    border-radius: 10px;
}


input{
    padding: 0.5rem 50px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}


textarea{
    width: 400px;
    height: 150px;
    resize: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}

.btn_div{
    margin-top: 10px;
}

.btn_div button{
   padding: 0.3rem 15px;
   cursor: pointer;
}


.empty_valus{
    background-color: #D391B0;
    padding:50px;
    border-radius: 14px;
    width: fit-content;
    margin: auto;
}


.empty_valus p{
    font-size: 25px;
}



.empty_valus a{
     text-decoration: none;
     color: black;
     background-color: #eb96bd;
     padding: 0.4rem 30px;
     margin-top: 30px;
     border: 2px solid #ffffff;
     border-radius: 10px;
     display: flex;
     justify-content: center;
}


.success{
      background-color: #00ff8c;
    padding:50px;
    border-radius: 14px;
    width: fit-content;
    margin: auto;
}


.success p{
    font-size: 20px;
}



.success a{
     text-decoration: none;
     color: black;
     background-color: #ffffff;
     padding: 0.4rem 30px;
     margin-top: 30px;
     border: 2px solid #ffffff;
     border-radius: 10px;
     display: flex;
     justify-content: center;
}



.review a{
     text-decoration: none;
     background-color:  #eb96bd;
     padding: 0.4rem 20px;
     color: #333;
     border-radius: 10px;
}

table {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #eb96bd;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #eb96be80;
}

table td {
  color: #333;
  font-size: 14px;
}
